@import "../../../../assets/styles/main.scss";

.container-priceList {
  width: 100%;
  max-width: 1280px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    padding: 15px;
    display: flex;
    gap: 520px;

    @media (min-width: 740px) and (max-width: 915px){
      gap: 300px;
    }

    @media (min-width: 481px) and (max-width: 739px){
      gap: 100px;
    }
  
    @media (max-width: 480px) {
      gap: 0px;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-title {
        text-align: center;
      }
    }

    &-title {
      @include title;
      width: 220px;
    }
  }

  &__table {
    @include mainText;
    border-collapse: collapse;
    
    & > thead:first-child {
      @include subtitle;
      text-align: center;
    }

    & th {
      @include mainText;
      padding: 10px;
      border: 1px solid $grayblue;
      font-weight: bold;
    }
    
    & td {
      padding: 10px;
      border: 1px solid $grayblue;
      color: $white;
    }
  }

  &__table_name {
    border: none;
    text-align: center;
    font-weight: bold;
  }
}